* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    /* max-width: 1200px; */
}

img {
    display: block;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AB3E26;
    line-height: 1.5;
    display: grid;
    grid-template-areas: "header"
        "body"
        "footer";
    grid-template-columns: 100%;

    /* width: 100%; */
}

header {

    background-color: white;
    grid-area: header;


}

.header__div {

    padding: 10px 0;

}

.header__div--p {
    text-align: center;
    color: white;
    background-color: #F25835;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.2rem;
}

.header__buscador {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 80px;
}

.header__buscador--imagen {
    height: 120px;
    width: 240px;

}

.header__buscador--imagen {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}



.header__buscador__busqueda {

    width: 500px;
    display: flex;
    justify-content: center;
}

.header__buscador__busqueda--input {

    border: solid 1px #0007;
    padding: 10px;
    width: 400px;
    font-size: 2.2rem;
    border-radius: 14px 0 0 14px;
    outline: none;
}

.header__buscador__busqueda--btn {
    background-color: #F25835;
    border: solid 1px #0007;
    font-size: 2.2rem;
    padding: 10px;
    border-radius: 0 14px 14px 0;
    color: white;
    cursor: pointer;
}

.header__buscador__iconos {
    width: 220px;
    display: flex;
    justify-content: flex-end;
}

.icono {
    color: #F25835;
    font-size: 4rem;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: #F25835;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__ul {
    /* background-color: green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    list-style: none;
}

.nav__ul--li--a {
    text-decoration: none;
    color: white;
    font-size: 2rem;

    /* Engrosar texto */
    font-weight: 900;
}

.nav__div {
    /* background-color: red; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__div--input {
    width: 240px;
    padding: 10px;
    font-size: 1.6rem;
    outline: none;
    border-radius: 10px;
    border: solid 1px #0007;
}

.nav__div--icono {
    background-color: #F25835;
    font-size: 40px;
    color: green;
    margin-left: 10px;
}

main {
    background-color: #AB3E26;
    color: white;
    font-size: 2rem;
    grid-area: body;
    width: 100%;
}



.section__header__div {

    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: antiquewhite; */
    /* display: flex;
    justify-content: space-evenly; */


}

.section__header__div--img {


    margin: 10px 20px;
    width: 450px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 20px;
    border-style: inset;
}

.section__header__div--img--img {
    margin: 10px 20px;
    width: 450px;
    height: 450px;
    border-radius: 5px;
    border-style: inset;
}

.section__header__div--div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 450px;
    align-items: center;
    border-style: inset;
    margin-top: 10px;
    color: white;


}

.section__header__div--h3 {
    font-size: 4rem;
    font-weight: 600;
}

.section__header__div--h3--p {
    font-size: 2rem;

}

.section__header__div__table {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;

}

.div__table--th {
    font-size: 4rem;
    border-style: inset;
}

.div__table--tr {
    font-size: 2rem;
    border-style: inset;
}

.div__table--tr td {
    font-size: 2rem;
    border-style: inset;

}

.section__div__body {

    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    color: white;
    border-style: inset;

}

.section__div__div__body {

    padding-top: 10px;
    padding-bottom: 100px;
    /* width: 100%; */
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;

}

.section__div__div__body--img {
    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;


}

/* HOVER */

.section__div__div__body--img :hover {
    height: 300px;
    width: 300px;

}

.section__div__div__body--img1 {
    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;
}

.section__div__div__body--img1:hover {
    height: 300px;
    width: 300px;
}

.section__div__div__body--img:hover {
    height: 300px;
    width: 300px;
}

.section__div__div__body--img2 {
    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;

}

.section__div__div__body--img2:hover {
    height: 300px;
    width: 300px;
}

.section__div__div__body--img3 {
    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;

}

.section__div__div__body--img3:hover {
    height: 300px;
    width: 300px;
}

footer {

    background-color: #F25835;
    display: flex;
    justify-content: space-between;
    height: 180px;

    grid-area: footer;

}

.productdata {

    text-align: center;
}

.borde {

    border-style: inset;
    position: relative;
}

.carrito {
    text-align: center;
}

.oferta {
    position: absolute;
    top: 20px;
    background-color: orange;
    transform: rotate(-45deg);
    font-size: 2rem;
    width: 60px;
    text-align: center;
}


.div {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;

}

.div__div {
    display: flex;
    flex-direction: column;
}

.div__form {

    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 80px;

}

.div__form__input {
    border: solid 1px #0007;
    padding: 10px;
    height: 40px;
    width: 300px;
    font-size: 1.6rem;
    border-radius: 14px 0 0 14px;
    outline: none;
}

.div__form__input--button {
    background-color: #F25835;
    border: solid 1px #0007;
    font-size: 1.6rem;
    height: 40px;
    padding: 10px;
    border-radius: 0 14px 14px 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.div__form--a {

    width: 50%;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;


}

.div__form--a a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-size: 1.5rem;


}


.div__form--p p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: aliceblue;

}

.foot__iconos {
    color: #AB3E26;
    width: 10%;
    font-size: 4rem;
    padding: 10px;
    margin: 10px;
    text-align: end;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}