* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    /* max-width: 1200px; */
}

img {

    display: block;
}

html {

    font-size: 10px;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #AB3E26;
    line-height: 1.5;
    display: grid;
    grid-template-areas: "header"
        "body"
        "footer";
    grid-template-columns: 100%;

}

.itemHover {
    border-radius: 50%;
    opacity: .8;
}