.header {
    background-color: white;
    grid-area: header;

    &__div {
        padding: 10px 0;

        &--p {
            text-align: center;
            color: white;
            background-color: $color_base;
            width: 50%;
            margin: 0 auto;
            border-radius: 15px;
            font-size: 2.2rem;
            @media (max-width: 640px) {
                & {
                    font-size: 1.4rem;
                }
            }
        }

    }

    &__buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 80px;
        @media (max-width: 640px) {
            & {
                margin: 10px 0;
            }
        }

        &--imagen {

            height: 120px;
            width: 240px;
            animation-name: blinker;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(.5, 0, 1, 1);
            animation-duration: 1.7s;
            animation-direction: alternate;

            @media (max-width: 640px) {
                & {
                    height: 60px;
                    width: 120px;
                }
            }
        }

        &__busqueda {
            width: 500px;
            display: flex;
            justify-content: center;

            &--input {
                border: solid 1px #0007;
                padding: 10px;
                width: 400px;
                font-size: 2.2rem;
                border-radius: 14px 0 0 14px;
                outline: none;
            }

            &--btn {
                background-color: $color_base;
                border: solid 1px #0007;
                font-size: 2.2rem;
                padding: 10px;
                border-radius: 0 14px 14px 0;
                color: white;
                cursor: pointer;
            }
        }

        &__iconos {
            width: 220px;
            display: flex;
            justify-content: flex-end;
            @media (max-width: 640px) {
                & {
                    width: 140px;
                }
            }
        }

    }


}

.icono {

    color: $color_base;
    font-size: 4rem;
    padding: 10px;
    margin: 10px;

    @media (max-width: 640px) {
        & {
            font-size: 3rem;
        }
    }

    @media (max-width: 480px) {
        & {
            font-size: 2rem;
        }
    }
}

@keyframes blinker {

    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

/* Breakpoints */
@media (max-width: 1024px) {
    .nav__ul {
        display: none;
    }

    .header__buscador__busqueda--input {
        display: none;
    }

    .header__buscador__busqueda--btn {
        display: none;
    }

    .section__header__div {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    .div__form--a {
        display: block;
        /* background-color: red; */
        padding: 0;
    }

    .div__form--a a {
        margin: 0;
    }
    
}

@media (max-width: 425px) {
    .nav__div--input{
        display: none;
    }
}
