main {
    color: white;
    font-size: 2rem;
    grid-area: body;
    width: 100%;
}

.main__h1 {
    background-color: orange;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    font-size: 3.5rem;
    margin: 10px auto;

}

.main__ul {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.5rem;
    list-style: none;
    margin-bottom: 10px;
}

.div__main {
    background-color: orange;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.5rem;
    margin: 10px auto;

}

.div__main--h4--p--1 {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.5rem;
    margin: 10px auto;

}

.div__main--h4--p--2 {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.5rem;
    margin: 10px auto;

}

.div__main--h4--p--3 {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 2.5rem;
    margin: 10px auto;

}

.main__p {
    background-color: orange;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    margin: 10px auto;
    font-weight: 900;
}

.div__h3--p--1 {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    margin: 10px auto;

}

.div__h3--p--2 {
    background-color: orange;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    margin: 10px auto;
}

.div__h3--p--3 {
    background-color: #F25835;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    margin: 10px auto;

}

.div__h3--p--3--ul {
    list-style: none;
}


.section__header {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.img__container {

    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 450px;
}

.carta {
    border: 2px inset white;
    box-shadow: 3px 3px 5px #000;
}

.section__header__div--img {
    width: 100%;
    height: 100%;
}

.section__header__div--h3 {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.section__header__div--p {
    font-size: 2rem;
    text-align: center;
}

.section__header__div__table {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;

}

// MIXIN
@mixin cellProps {
    font-size: 2.5rem;
    border: 4px inset white;
}

.div__table--th {
    @include cellProps;
}

.div__table--tr {
    @include cellProps;
}

.div__table--tr td {
    @include cellProps;
}

.section__div__body {
    @include cellProps;
    font-size: 3.5rem;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.section__div__div__body {

    padding-top: 10px;
    padding-bottom: 100px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;

}

.section__div__div__body--img {

    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;


}

/* HOVER */

.section__div__div__body--img1 {

    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;
}

.section__div__div__body--img:hover {

    transform: scale(1.1);
    transition: transform .2s;
}

.section__div__div__body--img2 {

    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;

}

.section__div__div__body--img3 {

    margin: 10px 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: inset;

}